<head>
    <base target="_self"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheet.css') }}" type="text/css"/>

    <title>demo</title>
    <script src="{{ url_for('static', filename = 'js/main.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename = 'js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/form.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-1.11.3.min.js') }}"></script> 
</head>
<body  onkeydown="KeySearch()">
    <a href = "#" target="_blank">
        <img id = "logo" src="{{url_for('static', filename = 'logo.png') }}" alt="Logo here" align="left"; >
    </a>

    <div id="app">
        <div class="header"><h1 class="title">欢迎使用文言文翻译</h1>
            <div id="modechoose">
                <center>
                    <h2 id="mode1">文言文</h2>
                    <!--<img id='arrow' src="{{url_for('static', filename = 'arrow.png') }}">-->
                    <button class="mode-btn" onclick="changemode()"></button>
                    <h2 id="mode2">现代文</h2>
                </center>
            </div>
            <div class="couplet-button_group">
                <form method="POST">
                    <input type="text" placeholder="请输入文言文" class="couplet-input" id="inputText" autofocus="autofocus" name="yuanwen" >
                    <input id="hiddenText" type="text" style="display:none" />
                    <button type="button" onclick = "show()" class="couplet-btn" >翻译</button>
                </form>
            </div>
        </div>
        <div id='result' style="display: none;">
            <div class="left">
                <div class="couplet-text couplet-text_up">
                    <div id="tooltip" class="tip"></div>
                    <div class="couplet-hd1" id="display1"></div>
                    <div class="couplet-bd" id='yuanwen'>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="couplet-text couplet-text_down">
                    <div class="couplet-hd2" id="display2"></div>
                    <div class="couplet-bd" id="jiqifanyi"></div>
                </div>
            </div>
            <div class="middle" id = "middle"></div>
        </div>
    </div>
</div>
</body>
